@import url(./theme.css);

body {
  display: inline-block;
  background-color: #000;
  width: 100%;
}

.find-id-container{
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;

}

.find-id-title{
  color: var(--white);
  text-align: center;
  font-size: var(--text-xxl);
  font-weight: 700;
  margin-bottom: 20px;
}

.find-wrapper-email{
  color: var(--silver500);
}

.find-wrapper-email span{
  font-weight: 700;
  font-size: var(--text-md);
  color: var(--silver200);
  margin-bottom: 20px;
}


.form-input input {
  width: 100%;
  padding: 20px 15px;
  margin-top: 20px;
  background-color: var(--silver800);
  border-radius: 5px;
  color: var(--silver600);
  border: none;
}

.email-input-btn{
  margin-top: 20px;
  width: 100%;
  padding: 20px 15px;
  background-color: var(--silver500);
  border-radius: 5px;
  color: var(--silver200);
  font-weight: 700;

}

.or-line{
  text-align: center;
  color: var(--silver600);
  display: flex;
  flex-basis: 100%;
  align-items: center;
  font-size: var(--text-base);
  margin: 8px 0px;
}

.or-line::before,
.or-line::after {
  content: "";
  flex-grow: 1;
  background: rgba(179, 179, 179, 0.35);
  color: var(--silver200);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 10px;
}

.individual-find-wrapper > p{
  color: var(--silver400);
  font-size: small;
}

.individual-find-wrapper{
  margin-bottom: 30px;
}

.individual-btn{
  margin-top: 20px;
  width: 100%;
  padding: 20px 15px;
  background-color: var(--silver100);
  border-radius: 5px;
  color: var(--silver900);
  font-weight: 700;
}


/* 모바일 */
@media (max-width: 768px) {
  .login-title{
    font-size: var(--text-base );
  }
}

/* 태블릿 */
@media (min-width: 769px) and (max-width: 1279px) {
  .login-title{
    font-size: var(--text-lg );
  }
}

/* 데스크탑 */
/* @media (min-width: 1280px) {

} */

