@import url(./theme.css);
button{
  cursor: pointer;
}
body {
  display: inline-block;
  width: 100%;
}

.nav-logo{
  margin: var(--spacing-base) var(--spacing-lg);
}

.find-id-container{
  margin: 0 auto;
  margin-top: var(--spacing-7xl);
}

.find-id-title{
  color: var(--white);
  text-align: center;
  font-size: clamp(var(--text-base), 5vw ,var(--text-xl));
  font-weight: var(--weight-lg);
  margin-bottom: var(--spacing-6xl);
}

.find-wrapper-email{
  color: var(--silver500);
}



.find-wrapper-email h3{
  font-weight: var(--weight-md);
  color: var(--white);
  margin-bottom: var(--spacing-md);
  font-size: clamp(var(--text-sm), 2.5vw ,var(--text-lg));
}

.find-wrapper-email p{
  color: var(--silver400);
  font-size: clamp(var(--text-sm), 2vw ,var(--text-lg));
}

.id-email-wrapper{
  position: relative;
}

#id-email {
  box-sizing: border-box;
  width: 100%;
  min-height: 46px;
  max-height: 96px;
  padding: var(--spacing-md) var(--spacing-base);
  margin-top: var(--spacing-md);
  background-color: var(--dark-bg-2);
  font-size: clamp(var(--text-sm), 2.5vw ,var(--text-lg));
  border-radius: var(--spacing-2xs);
  color: var(--white);
  border: none;
}

.id-email-wrapper > img{
  width: var(--spacing-lg);
  position: absolute;
  right: var(--spacing-base);
  top: 48%;
}


#id-email::placeholder{
  color: var(--silver600);;
}

.email-input-btn{
  margin-top: var(--spacing-md);
  width: 100%;
  text-align: center;
  background-color: var(--silver700);
  border-radius: var(--spacing-2xs);
  color: var(--silver200);
  font-weight: var(--weight-md);
  font-size: clamp(var(--text-sm), 2.5vw ,var(--text-lg));
}

.or-line{
  text-align: center;
  color: var(--silver600);
  display: flex;
  flex-basis: 100%;
  align-items: center;
  font-size: var(--text-base);
  margin: 10% 0px;
}

.or-line::before,
.or-line::after {
  content: "";
  flex-grow: 1;
  background: rgba(179, 179, 179, 0.35);
  color: var(--silver200);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px var(--spacing-s);
}

.individual-find-wrapper > h3{
  font-size: clamp(var(--text-sm), 2.5vw ,var(--text-lg));
}

.individual-find-wrapper > p{
  color: var(--silver400);
  font-size: clamp(var(--text-sm), 2vw ,var(--text-md));
  white-space: normal;
}

.individual-btn{
  margin-top: var(--spacing-md);
  width: 100%;
  text-align: center;
  background-color: var(--silver100);
  border-radius: var(--spacing-2xs);
  color: var(--silver900);
  font-weight: var(--weight-lg);
  font-size: clamp(var(--text-sm), 2.5vw ,var(--text-lg));
}


/* 모바일 */
@media (max-width: 768px) {
  body{
    padding: 0 var(--spacing-base);
  }

  .nav-logo > a > img{
    height: var(--spacing-base);
  }

  .find-id-title{
    margin-bottom: var(--spacing-lg);
  }

  .find-id-container{
    max-width: 500px;
    width: min(80vw, 50rem);
  }

  .id-email-wrapper > img{
    top: 45%;
  }

  .form-input input {
    height: var(--spacing-4xl);
  }

  .email-input-btn{
    height: var(--spacing-4xl);
  }

  .individual-btn{
    height: var(--spacing-4xl);
  }
}


/* 태블릿 */
@media (min-width: 769px) and (max-width: 1279px) {
  .nav-logo > a > img{
    height: var(--spacing-lg);
  }

  .find-id-container{
    max-width: 600px;
    font-size: clamp(var(--text-sm), 2.5vw ,var(--text-lg));
  }
  .find-id-title{
    margin-bottom: var(--spacing-lg);
  }
  .form-input input,
  .email-input-btn,
  .individual-btn{
    height: var(--spacing-5xl);
  }

}

/* 데스크탑 */
@media (min-width: 1280px) {
  .find-id-container{
    max-width: 768px;
  }
  .find-id-title{
    margin-bottom: var(--spacing-6xl);
  }
  .form-input input {
    height: 5rem;
  }
  .email-input-btn{
    height: 5rem;
  }
  .individual-btn{
    height: 5rem;
  }
}

