@import url("./theme.css");

body {
  position: relative;
}
h1 {
  margin: 0;
  display: inline-block;
}

.header {
  background-color: var(--black);
  color: rgb(110, 110, 110);
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 1rem;
}
.header-nav-left,
.header-nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-item {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.nav-item:hover {
  color: var(--white);
  transition: color 0.1s ease 0s;
}
.header-alive {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-search,
.header-profile {
  all: unset;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .header {
    padding: 1rem 4.375rem;
  }

  .header-search,
  .header-profile {
    width: 2.5rem;
  }
}

@media (min-width: 769px) and (max-width: 1279px) {
  .header {
    padding: 0.875rem 2.5rem;
  }
  .nav-logo {
    width: 4.625rem;
  }
  .nav-item {
    display: flex;
    align-items: center;
  }

  .header-search,
  .header-profile {
    width: 1.5rem;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0.5rem 1rem;
  }
  .nav-logo {
    width: 3rem;
  }
  .footer {
    padding: 4rem 1rem 5rem 1rem;
    font-size: var(--text-sm);
  }

  .nav-item {
    display: none;
  }

  .header-search,
  .header-profile {
    width: 1.125rem;
  }
}
