/* 스크롤바 제거  */
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

/* 공통 헤더 */
.header {
  background-color: rgba(0, 0, 0, 0.5);
}

/* 공통 css */
.intro-wrapper > p:nth-child(1),
.taing-only-title,
.taing-finding-title {
  color: var(--white);
  font-size: var(--text-xxl);
  font-weight: var(--weight-lg);
  line-height: var(--line-height-sm);
  margin-bottom: var(--spacing-md);
  text-align: center;
}

.intro-wrapper > p:nth-child(2),
.taing-only-title-description,
.taing-finding-title-description {
  font-size: var(--text-lg);
  font-weight: var(--weight-md);
  line-height: var(--line-height-md);
}

.intro-wrapper,
.taing-finding-wrapper,
.taing-only-wrapper,
.taing-reintro-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.taing-only-wrapper > h3,
.taing-finding-wrapper > h3 {
  color: var(--silver200);
  font-size: var(--text-md);
  font-weight: var(--weight-sm);
  line-height: var(--line-height-lg);
}

.landing-visual,
.taing-only-contents {
  margin-bottom: 8.3%;
}

/* 타잉 소개 */
.intro-wrapper {
  background: var(--black) url(../assets/image/randing_background_1920_1308.png)
    no-repeat 0 150%/100%;
}

.intro-wrapper > p:nth-child(1) {
  margin-top: 11.5vw;
  white-space: pre-line; /*마크업에서 한 줄바꿈 적용*/
}

.intro-wrapper > p:nth-child(2) {
  color: var(--silver400);
  margin-bottom: var(--spacing-6xl);
}

.start-taing {
  font-size: 0;
  width: 31.625rem;
  margin: 0 1.015625vw 21.0416vw;
}

/* 타잉에만 있는 재미 */
.taing-only-contents {
  padding-bottom: 1.375rem;
}

.taing-only-title {
  margin-bottom: var(--spacing-md);
}

.taing-only-title-description {
  color: var(--silver200);
  margin-bottom: var(--spacing-xs);
}

.taing-only-wrapper > h3 {
  margin-bottom: var(--spacing-5xl);
}

.swiper {
  height: 31.875rem;
}

/* 내가 찾던 재미 */
.taing-finding-contents {
  margin-bottom: 15.078125%;
}

.taing-finding-title-description {
  color: var(--silver200);
  margin-bottom: var(--spacing-xs);
}

.taing-finding-wrapper > h3 {
  margin-bottom: var(--spacing-7xl);
}

/* 내가 찾던 재미 롤링 배너 */

.rollingbanner > .wrap {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  gap: 0.9vw;
}

.rolling-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.9vw;
}

.rolling-img-box {
  width: 24.479vw;
}

.first-container {
  margin-bottom: 0.9vw;
}

.rolling-img-box img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

/* 롤링 배너 애니메이션 */
#roller0 {
  animation: 60s linear 0s infinite normal forwards running rollingleft1;
}

#clone0 {
  animation: 60s linear 0s infinite normal none running rollingleft2;
}

#roller1 {
  animation: 50s linear 0s infinite normal forwards running rollingleft3;
}

#clone1 {
  animation: 50s linear 0s infinite normal none running rollingleft4;
}

@keyframes rollingleft1 {
  /* 원본용1 */
  0% {
    transform: translateX(-7%);
  }
  50% {
    transform: translateX(-107.5%);
  }
  50.01% {
    transform: translateX(93.5%);
  }
  100% {
    transform: translateX(-7%);
  }
}

@keyframes rollingleft2 {
  /* 클론용1 */
  0% {
    transform: translateX(-7%);
  }
  100% {
    transform: translateX(-208%);
  }
}

@keyframes rollingleft3 {
  /* 원본용2 */
  0% {
    transform: translateX(-14%);
  }
  50% {
    transform: translateX(-114.5%);
  }
  50.001% {
    transform: translateX(86.5%);
  }
  100% {
    transform: translateX(-14%);
  }
}

@keyframes rollingleft4 {
  /* 클론용2 */
  0% {
    transform: translateX(-14%);
  }
  100% {
    transform: translateX(-215%);
  }
}

/* 타잉 재소개 */
.landing-bottom {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.taing-reintro-wrapper > p > img,
.taing-reintro-description {
  margin-bottom: var(--spacing-xl);
}

.taing-reintro-wrapper > p > img {
  width: 17.4375rem;
}

.taing-reintro-description {
  font-size: var(--text-xxl);
  font-weight: var(--weight-lg);
}

/* 데스크탑 디바이스 */
@media (min-width: 1280px) {
}

/* 태블릿 디바이스 */
@media (min-width: 769px) and (max-width: 1279px) {
  .intro-wrapper > p:nth-child(1) {
    font-size: var(--text-md);
    margin-bottom: var(--spacing-xs);
  }

  .intro-wrapper > p:nth-child(2) {
    font-size: var(--text-sm);
    font-weight: var(--weight-sm);
    margin-bottom: 1.75rem;
  }

  .start-taing {
    width: 17.6875rem;
  }

  /* 타잉에만 있는 재미 / 내가 찾던 재미 */
  .taing-only-title,
  .taing-finding-title {
    font-size: var(--text-lg);
    margin-bottom: 0;
  }

  .taing-only-title-description,
  .taing-finding-title-description {
    font-size: var(--text-base);
  }

  .taing-only-title-description {
    margin-bottom: var(--spacing-2xs);
  }

  .taing-finding-title-description {
    margin-bottom: 0;
  }

  .taing-only-wrapper > h3,
  .taing-finding-wrapper > h3 {
    font-size: var(--text-sm);
    font-weight: var(--weight-md);
    line-height: var(--line-height-md);
    margin-bottom: var(--spacing-xl);
  }

  .swiper {
    height: 25rem;
  }

  /* 타잉 재소개 */
  .taing-reintro-wrapper > p > img,
  .taing-reintro-description {
    margin-bottom: 0.875rem;
  }

  .taing-reintro-wrapper > p > img {
    width: 8.4375rem;
  }

  .taing-reintro-description {
    font-size: var(--text-lg);
  }
}

/* 모바일 디바이스 */
@media (min-width: 320px) and (max-width: 768px) {
  .intro-wrapper {
    background: var(--black)
      url(../assets/image/randing_background_1920_1308.png) no-repeat 65% 100%/150%;
  }

  .intro-wrapper > p:nth-child(1) {
    font-size: var(--text-base);
    margin-bottom: 0;
  }

  .intro-wrapper > p:nth-child(2) {
    margin-bottom: var(--spacing-base);
  }

  .taing-only-title,
  .taing-finding-title {
    font-size: var(--text-md);
    margin-bottom: 0;
  }

  .start-taing {
    width: 11.75rem;
  }

  .intro-wrapper > p:nth-child(2),
  .taing-only-title-description,
  .taing-finding-title-description,
  .taing-only-wrapper > h3 {
    font-size: var(--text-sm);
    font-weight: var(--weight-sm);
    line-height: var(--line-height-lg);
  }

  /* 타잉에만 있는 재미 / 내가 찾던 재미 */
  .taing-only-title-description,
  .taing-only-contents {
    margin-bottom: 0;
  }

  .taing-only-wrapper > h3,
  .taing-finding-title-description {
    margin-bottom: 1.625rem;
  }

  .taing-finding-wrapper > h3 {
    display: none;
  }

  .swiper {
    height: 25rem;
  }

  /* 롤링 배너 */
  .rolling-img-box {
    width: 56.5625vw;
  }

  .rollingbanner > .wrap,
  .rolling-wrapper {
    gap: 3.75vw;
  }

  .first-container {
    margin-bottom: 4.0625vw;
  }

  .rolling-img-box img {
    display: block;
    width: 100%;
    border-radius: 5px;
  }

  /* 타잉 재소개 */
  .taing-reintro-wrapper > p > img,
  .taing-reintro-description {
    margin-bottom: 1.125rem;
  }

  .taing-reintro-wrapper > p > img {
    width: 5.1875rem;
  }

  .taing-reintro-description {
    font-size: var(--text-base);
  }
}
