/* 스크롤바 제거  */
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  background: var(--black) url(../assets/image/randing_background_1920_1308.png)
    no-repeat 0 -17.49694376%/100%;
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

/* 공통 헤더 */
.landing-header {
  /* background-color: aqua; */
  padding: 1.5104% 0 1.5104% 3.64583%;
  height: 5.2083vw;
  margin-bottom: 8.3vw;
}

/* 공통 css */
.intro-wrapper > p:nth-child(1),
.taing-only-title,
.taing-finding-title {
  /* background-color: brown; */
  color: var(--white);
  font-size: var(--text-xxl);
  font-weight: var(--weight-lg);
  text-align: center;
  line-height: var(--line-height-sm);
  margin-bottom: var(--spacing-md);
}

.intro-wrapper > p:nth-child(2),
.taing-only-title-description,
.taing-finding-title-description {
  /* background-color: darkblue; */
  font-size: var(--text-lg);
  font-weight: var(--weight-lg);
  line-height: var(--line-height-md);
}

.intro-wrapper,
.taing-finding-wrapper,
.taing-only-wrapper,
.taing-reintro-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.taing-only-wrapper > h3,
.taing-finding-wrapper > h3 {
  /* background-color: blueviolet; */
  color: var(--silver200);
  font-size: var(--text-md);
  font-weight: var(--weight-sm);
  line-height: var(--line-height-lg);
}

.landing-visual,
.taing-only-contents,
.landing-bottom {
  margin-bottom: 8.3%;
}

/* 타잉 소개 */
.landing-visual {
  /* padding: 0 35.80729% 21.03125%; */

  /* background-color: blueviolet; */
}

.intro-wrapper > p:nth-child(1) {
  /* background-color: brown; */
  white-space: pre-line; /*마크업에서 한 줄바꿈 적용*/
}

.intro-wrapper > p:nth-child(2) {
  /* background-color: darkblue; */
  color: var(--silver400);
  margin-bottom: var(--spacing-6xl);
  /* margin: 0 0.5729vw 3.125vw; */
}

.start-taing {
  font-size: 0;
  margin: 0 1.015625vw;
  /* background-color: coral; */
}

/* 타잉에만 있는 재미 */
.taing-only-contents {
  /* background-color: aqua; */
  padding-bottom: 1.375rem;
}

.taing-only-wrapper {
  /* background-color: green; */
}

.taing-only-title {
  /* width: 20%; */
  margin-bottom: var(--spacing-md);
}

.taing-only-title-description {
  color: var(--silver200);
  margin-bottom: var(--spacing-xs);
}

.taing-only-wrapper > h3 {
  margin-bottom: var(--spacing-5xl);
}

.swiper {
  /* background-color: darkorange; */
  height: 31.875rem;
}

/* 내가 찾던 재미 */
.taing-finding-contents {
  /* background-color: aqua; */
  margin-bottom: 15.078125%;
}

.taing-finding-title-description {
  color: var(--silver200);
  margin-bottom: var(--spacing-xs);
}

.taing-finding-wrapper > h3,
.swiper2 {
  margin-bottom: var(--spacing-7xl);
}

.swiper2 {
  height: 28.3333%;
}

/* 타잉 재소개 */
.landing-bottom {
  /* background-color: aqua; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.taing-reintro-wrapper > p > img,
.taing-reintro-description {
  margin-bottom: var(--spacing-xl);
}

.taing-reintro-wrapper > p > img {
  /* background-color: coral; */
  width: 17.4375rem;
}

.start-taing-btn > img {
  width: 31.625rem;
}

.taing-reintro-description {
  font-size: var(--text-xxl);
  font-weight: var(--weight-lg);
}
