/* swiper common css */

.swiper-pagination-bullet {
  background: var(--white);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: var(--white);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: min(var(--text-lg), 2vw);
}

.swiper-slide {
  /* padding-top: var(--spacing-s); */
  transition: transform 0.5s;
}

/* over 효과 */
.swiper-slide:hover {
  transform: translateY(-12px);
}
.swiper-slide:hover .label-basic dd {
  color: var(--silver100);
}

.main-event-modal {
  position: fixed;
  z-index: 2;
  font-size: var(--text-md);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}

.main-event-modal > a {
  display: block;
  font-size: 0;
}
.main-evnent-modal-close {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 0.75rem;
}
.main-evnent-modal-close li:first-child {
  width: 20.375rem;
  position: relative;
}
.main-evnent-modal-close li:last-child {
  width: 11.875rem;
}
.main-evnent-modal-close li:first-child::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  width: 1px;
  height: 60%;
  margin-top: 3%;
  background-color: var(--white);
}

.main-evnent-modal-close button {
  position: relative;
  padding: var(--spacing-xs);
}
.main-evnent-modal-close button {
  cursor: pointer;
}

/* visual css */
.visual {
  position: relative;
}

.visual .img-box {
  position: relative;
  font-size: 0;
}

.visual .img-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  z-index: 1;
}

.visual-title {
  position: absolute;
  left: 4%;
  bottom: 22%;
  color: var(--white);
  font-size: clamp(var(--text-sm), 2.5vw, var(--text-lg));
  font-weight: var(--weight-sm);
  z-index: 2;
}

.visual-more {
  position: absolute;
  right: 4%;
  bottom: 18.5%;
  padding: 1.5% 4%;
  font-size: clamp(var(--text-sm), 1.8vw, var(--text-md));
  border: 1px solid var(--silver300);
  backdrop-filter: blur(30px);
  border-radius: 4px;
  z-index: 2;
}

.visual-more:hover {
  border-color: var(--white);
}

.visual .swiper-pagination-wrapper{
  position: absolute;
  left: 4%;
  bottom: 10%;
  font-size:0;
  z-index: 1;
}

.visual .swiper-pagination{
  position: static;
  display: inline-block;
  width:auto;
  vertical-align: middle;
}

.visual .swiper-button-autoplay{
  display: inline-block;
  width: 14px;
  height: 16px;
  background: url(../assets/icons/main_stop_14_16.png) no-repeat center;
  cursor: pointer;
  padding:var(--spacing-2xs);
  margin-right:var(--spacing-2xs);
  vertical-align: middle;
}

.visual .swiper-button-autoplay.is-play{
  background-image: url(../assets/icons/main_paly_18_18.png);
}

.visual .swiper-button-prev,
.visual .swiper-button-next {
  padding: 2%;
  opacity: 0.4;
}

.visual .swiper-button-prev:hover,
.visual .swiper-button-next:hover {
  opacity: 1;
}

.visual .swiper-button-prev {
  left: 5px;
}

.visual .swiper-button-next {
  right: 5px;
}

/* program css */

.program {
  position: relative;
  font-size: 0;
  margin: 3% 0;
}

.program .swiper {
  padding: var(--spacing-s) 4%;
}

.program .swiper-slide:focus {
  outline: 1px solid var(--red-1);
  outline-offset: 0;
  box-shadow: 0 0 10px 3px rgba(255, 0, 64, 0.4);
}

.program ol {
  list-style-type: none;
  counter-reset: section;
}

.program ol > li {
  counter-increment: section;
}

.program h2 {
  padding: 0 4%;
  font-size: clamp(var(--text-sm), 2vw, var(--text-lg));
  font-weight: var(--weight-lg);
  line-height: var(--line-height-sm);
}

.program .img-box {
  position: relative;
}

.program .img-box > img {
  width: 100%;
}

.program .quick-vod-icon,
.program .main-free-badge {
  position: absolute;
  left: 5px;
  top: 5px;
}

.quick-vod-icon > img,
.main-free-badge > img {
  max-height: 18px;
}

.program .swiper-button-prev,
.program .swiper-button-next {
  top: auto;
  bottom: 2px;
  height: calc(100% - 2px);
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0) 44%, rgba(0, 0, 0, 0));
  padding: 0 2%;
}

.program .swiper-button-prev {
  left: 0;
}

.program .swiper-button-next {
  right: 0;
}

.program .swiper-button-prev:focus,
.program .swiper-button-next:focus {
  outline-offset: -1px;
}

.program .swiper-view-all {
  position: absolute;
  top: 15px;
  right: 4%;
  font-size: clamp(var(--text-sm), 1vw, var(--text-md));
  color: var(--silver200);
  line-height: var(--line-height-sm);
}

.program .swiper-view-all:hover {
  color: var(--white);
}

.program .swiper-view-all > a {
  padding: var(--spacing-2xs);
}

.program .swiper-pagination {
  display: inline-block;
  width: auto;
  position: static;
}

.program .swiper-pagination-bullet {
  background: var(--white);
}

.program .swiper-button-next.swiper-button-disabled,
.program .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.only-taing img {
  width: 100%;
}
/* badge */

.program .main-allow-18-badge,
.program .main-allow-19-badge{
  position: absolute;
  top: 5px;
  right: 5px;
}

.main-allow-18-badge > img,
.main-allow-19-badge > img{
  max-height:20px
}

/* 시청한 콘텐츠 */
.latest-view{
  display: none;
}

.latest-view.is_latest{
  display: block;
}

.latest-view.is_latest .img-box::after{
  content:'';
  background: url(../assets/icons/main_media_72_72.png) no-repeat center;
  display: block;
  width:100%;
  height:100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* 타잉에서 꼭 봐야하는 콘텐츠 */

.taing-recommend .swiper-slide{
  cursor: pointer;
}

@media (min-width: 1280px) {
  /* visual desktop css */
  .visual-title {
    bottom: 25%;
  }

  .visual .swiper-pagination-wrapper {
    bottom: 20%;
  }

  .visual .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  /* program desktop css */

  .program .swiper-view-all,
  .program .swiper-button-prev,
  .program .swiper-button-next{
    opacity: 0;
  }

  .program:focus .swiper-view-all,
  .program:focus-within .swiper-view-all,
  .program:hover .swiper-view-all,
  .program:focus .swiper-button-prev,
  .program:focus-within .swiper-button-prev,
  .program:hover .swiper-button-prev,
  .program:focus .swiper-button-next,
  .program:focus-within .swiper-button-next,
  .program:hover .swiper-button-next{
    opacity: 1;
  }

  .program .swiper-button-next.swiper-button-disabled,
  .program .swiper-button-prev.swiper-button-disabled{
    opacity: 0;
  }

  .quick-vod-icon > img,
  .main-free-badge > img,
  .main-allow-18-badge > img,
  .main-allow-19-badge > img {
    max-height: 30px;
  }
  .broadcasting {
    padding: var(--spacing-2xl) 0;
  }
}
@media (min-width: 769px) and (max-width: 1279px) {
  .main-event-modal {
    font-size: var(--text-sm);
  }
  .main-event-modal img {
    width: 20.5rem;
  }
  .main-evnent-modal-close {
    margin-top: 0.25rem;
  }
  .main-evnent-modal-close li:first-child {
    width: 11.5rem;
  }
  .main-evnent-modal-close li:last-child {
    width: 6.75rem;
  }
  .broadcasting {
    padding: 1.75rem 0;
  }
  .visual-more {
    bottom: 15%;
  }
  .visual .swiper-pagination-wrapper {
    bottom: 13%;
  }
  .visual .swiper-button-autoplay{
    background-size: 0.75rem;

  }
  .only-taing .swiper-view-all {
    top: 2%;
  }
  
  /* 시청하는 콘텐츠 */
  .latest-view.is_latest .img-box::after{
    background-size: 2.8125rem; 
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  /* swiper common css */
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--spacing-2xs);
  }

  /* visual moblie css */
  .visual-more {
    padding: 1.5%;
    bottom: 12%;
  }

  .visual .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }

  .visual .swiper-button-autoplay{
    background-size: 0.5rem;
    padding:1px
  }

  /* program moblie */
  .taing-recommend .title-simple,
  .program .swiper-pagination {
    display: none;
  }

  .program .swiper-view-all {
    top: 2px;
  }

  .broadcasting {
    padding: var(--spacing-base) 0;
  }

  .main-event-modal {
    font-size: var(--text-sm);
  }
  .main-event-modal img {
    width: 15.75rem;
  }
  .main-evnent-modal-close {
    margin-top: 0.25rem;
  }
  .main-evnent-modal-close li:first-child {
    width: 9rem;
  }
  .main-evnent-modal-close li:last-child {
    width: 4.5rem;
  }

  /* visual moblie css */
  .visual-more {
    padding: 1.5%;
  }

  /* program moblie */
  .program .swiper-pagination {
    display: none;
  }

  .program .swiper-view-all {
    top: 2px;
  }

  /* 시청하는 콘텐츠 */
  .latest-view.is_latest .img-box::after{
    background-size: 1.875rem;
  }
}
