/* swiper common css */
.swiper-pagination-bullet{
  background: var(--white);
}

.swiper-button-prev::after,
.swiper-button-next::after{
  color:var(--white);
}

.swiper-button-prev::after,
.swiper-button-next::after{
  font-size: min(var(--text-lg), 2vw);
}

/* visual css */
.visual{
  position: relative;
}

.visual .img-box{
  position: relative;
  font-size: 0;
}

.visual .img-box::after{
  content:'';
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  height:30%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  z-index: 1;
}

.visual-title{
  position: absolute;
  left: 4%;
  bottom: 22%;
  color: var(--white);
  font-size: clamp(var(--text-sm), 2.5vw ,var(--text-lg));
  font-weight:var(--weight-sm);
  z-index: 2;
}

.visual-more{
  position: absolute;
  right: 4%;
  bottom: 20%;
  padding: var(--spacing-base) var(--spacing-2xl);
  border:1px solid var(--silver100);
  backdrop-filter: blur(30px);
  border-radius: 4px;
  z-index: 2;
}

.visual .swiper-button-prev,
.visual .swiper-button-next{
  padding: 2%;
  opacity: 0.4;
}

.visual .swiper-button-prev:hover,
.visual .swiper-button-next:hover{
  opacity: 1;
}

.visual .swiper-button-prev{
  left:5px;
}

.visual .swiper-button-next{
  right:5px;
}

.visual .swiper-horizontal > .swiper-pagination-bullets,
.visual .swiper-pagination-bullets.swiper-pagination-horizontal{
  width: auto;
  left: 4%;
  bottom: 10%;
}

/* program css */

.program{
  position: relative;
  font-size: 0;
}

.program .swiper{
  padding:0 4%;
}

.program h2{
  padding:0 4%;
  font-size: clamp(var(--text-sm), 2vw ,var(--text-lg));
  font-weight:var(--weight-lg);
  line-height: var(--line-height-sm);
  margin-bottom: 0.75rem;
}

.program .img-box{
  margin-bottom: 0.5rem
}

.program .swiper-button-prev,
.program .swiper-button-next{
  top:auto;
  bottom: 2px;
  height:calc(100% - 2px);
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0) 44%, rgba(0, 0, 0, 0));
  padding:0 2%;
}

.program .swiper-button-prev{
  left:0
}

.program .swiper-button-next{
  right:0
}

.program .swiper-button-prev:focus,
.program .swiper-button-next:focus{
  outline-offset: -1px;
}

.program .swiper-view-all{
  position: absolute;
  top: 4%;
  right:4%;
  font-size: clamp(var(--text-sm), 1vw ,var(--text-md));
  color: var(--silver200);
  line-height: var(--line-height-sm);
}

.program .swiper-view-all:hover{
  color:var(--white);
}

.program .swiper-view-all > a{
  padding: var(--spacing-2xs)
}

.program .swiper-pagination{
  display: inline-block;
  width:auto;
  position: static;
}

.program .swiper-pagination-bullet{
  background: var(--white);
}

.program .swiper-button-next.swiper-button-disabled,
.program .swiper-button-prev.swiper-button-disabled{
  opacity: 0;
}

@media (min-width: 1280px) {
  /* visual desktop css */
  .visual-title{
    bottom:25%;
  }

  .visual .swiper-horizontal > .swiper-pagination-bullets,
  .visual .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 20%;
  }

  .program .swiper-view-all{
    display: none;
  }

  .program:hover .swiper-view-all{
    display: block;
  }

  .program .swiper-button-prev,
  .program .swiper-button-next{
    opacity: 0;
  }
  
  .program:hover .swiper-button-prev,
  .program:hover .swiper-button-next{
    opacity: 1;
  }

  .program .swiper-button-next.swiper-button-disabled,
  .program .swiper-button-prev.swiper-button-disabled{
    opacity: 0;
  }

}
@media (min-width: 769px) and (max-width: 1279px){
  
}
@media (min-width: 320px) and (max-width: 768px) {
  
  /* swiper common css */
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 var(--spacing-2xs);
  }

  /* visual moblie css */
  .visual-more{
    padding: 1.5%; 
  }

  /* program moblie */
  .title-basic,
  .program .swiper-pagination{
    display: none;
  }

  .program .swiper-view-all{
    top: 2px;
  }

}