@import url(./theme.css);
button{
  border: none;
}

.nav-logo{
  margin: var(--spacing-base) var(--spacing-lg);
}

.register-container{
  margin: 0 auto;
  margin-top: var(--spacing-7xl);
}

.register-title{
  text-align: center;
  font-size: clamp(var(--text-base), 5vw ,var(--text-xl));
  font-weight: var(--weight-lg);
}

.sub-title{
  text-align: center;
  color: var(--silver400);
  font-size: clamp(var(--text-sm), 3vw ,var(--text-lg));
  margin: var(--spacing-lg) 0 var(--spacing-6xl);
}

.register-wrapper{
  display: flex;
  flex-flow: column nowrap;
}

.register-wrapper > p{
  color: var(--silver400);
  font-size: min(3vw, var(--text-base));
}

.register-wrapper input{
  width: 100%;
  padding: var(--spacing-md) var(--spacing-base);
  background-color: var(--silver800);
  border-radius: var(--spacing-2xs);
  color: var(--silver600);
  border: none;
  margin-top: var(--spacing-xl);
  font-size: min(3vw, var(--text-base));
}

.register-pw-wrap{
  position: relative;
}

.pw-see {
  position: absolute;
  right: var(--spacing-md);
  top: 50%;
  background-color: transparent;
  min-width: var(--spacing-md);
  min-height: var(--spacing-md);
  max-width: var(--spacing-xl);
  width: min(3vw, var(--spacing-xl));
}

.btn-register{
  margin-top: var(--spacing-2xl);
  width: 100%;
  height: 5rem;
  text-align: center;
  background-color: var(--silver700);
  border-radius: var(--spacing-2xs);
  color: var(--silver400);
  font-size: clamp(var(--text-sm), 2vw ,var(--text-md));
  font-weight: var(--weight-lg);
}

#register-id,
#register-pw,
#register-pw-check,
#register-email{
  font-size: clamp(var(--text-sm), 2vw ,var(--text-lg));
}


/* 모두 동의합니다 */
.register-content-wrapper{

  margin-top: 30px;
}
.all-register-check{
  border: none;
}

.all-check-btn{
  color: var(--silver400);
  background: transparent;

}

.all-check-btn img{
  transform: translateY(3px);
}

.all-check-btn,
.content-item-check{
  font-size: clamp(var(--text-sm), 2vw ,var(--text-md));
}

/* 동의하기 아이템들 */
.register-content-wrap{
  margin-top: 10px;

}

.register-content-item{
  background: transparent;
  font-size: clamp(var(--spacing-s) , 4vw, var(--spacing-md));
  display: flex;
}

.content-item-check img{
  background: transparent;
  padding-right: var(--spacing-2xs);
  justify-content: center;
}

.content-item-check{
  background: transparent;
  margin-top: var(--spacing-s);
  color: var(--silver400);
  align-items: center;
  display: flex;
}

.item-space{
  padding-left: var(--spacing-2xl);
}


/* 모바일 */
@media (max-width: 768px) {
  .nav-logo > a > img{
    height: var(--spacing-base);
  }

  body{
    padding: 0 var(--spacing-base);
  }

  .register-container{
    max-width: 500px;
  }

  .pw-see{
    top: 45%;
  }

  .content-item-check{
    height: var(--spacing-base);
    margin-top: var(--spacing-xs);
  }
 
  .register-wrapper input{
    margin-top: var(--spacing-base);
  }

  .content-item-check img{
    min-width: 16px;
  }


  #register-id,
  #register-pw,
  #register-pw-check,
  #register-email,
  .btn-register{
    height: var(--spacing-4xl);
  }



}


/* 태블릿 */
@media (min-width: 769px) and (max-width: 1279px) {
  .nav-logo > a > img{
    height: var(--spacing-lg);
  }

  .register-container{
    max-width: 600px;
  }

  .pw-see{
    top: 40%;
  }

  .content-item-check{

    height: 1.125rem;
  }

  .register-wrapper input{
    margin-top: var(--spacing-base);
  }

  .content-item-check img{
    min-width: 16px;
  }

  #register-id,
  #register-pw,
  #register-pw-check,
  #register-email,
  .btn-register{
    height: var(--spacing-5xl);
  }

 
  
}

/* 데스크탑 */
@media (min-width: 1280px) {
  .register-container{
    max-width: 768px;
  }


  #register-id,
  #register-pw,
  #register-pw-check,
  #register-email,
  .btn-register{
    height: 5rem;
  }



}
