@import url(./theme.css);
button {
  cursor: pointer;
}

input {
  cursor: text;
}

label:focus {
  outline: 1px solid var(--red-1);
  outline-offset: 0;
  box-shadow: 0 0 10px 3px rgba(255, 0, 64, 0.4);
}

.nav-logo {
  margin: var(--spacing-base) var(--spacing-lg);
}

.register-container {
  margin: 0 auto;
  margin-top: var(--spacing-7xl);
}

.register-title {
  cursor: text;
  text-align: center;
  font-size: clamp(var(--text-base), 5vw, var(--text-xl));
  font-weight: var(--weight-lg);
  padding: 0 var(--spacing-base);
}

.sub-title {
  cursor: text;
  text-align: center;
  color: var(--silver400);
  font-size: clamp(var(--text-sm), 3vw, var(--text-lg));
  margin: var(--spacing-lg) 0 var(--spacing-6xl);
}

.register-wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.register-id-content,
.register-pw-content{
  color: var(--silver500);
  font-size: clamp(var(--text-sm), 2vw, var(--text-md));
}

.register-pwcheck-content,
.register-email-content{
  font-size: clamp(var(--text-sm), 2vw, var(--text-md));
  display: none;
  color: red;
}

.register-wrapper input {
  width: 100%;
  background-color: var(--dark-bg-2);
  border-radius: var(--spacing-2xs);
  color: var(--white);
  border: none;

  font-size: min(3vw, var(--text-base));
}

.register-input-wrap {
  margin-top: var(--spacing-xl);
  position: relative;
}

.id-cancel-btn,
.email-cancel-btn {
  display: none;
  width: var(--spacing-xl);
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 0;
}

.pw-cancel-btn,
.pwcheck-cancel-btn {
  display: none;
  width: var(--spacing-xl);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  cursor: pointer;
  font-size: 0;
}

.register-input-wrap-inner {
  position: relative;
}

#register-pw-check {
  position: relative;
}

.pw-see-btn,
.pw-see2-btn {
  position: absolute;
  right: var(--spacing-md);
  top: 55%;
  transform: translateY(-50%);
  background-color: transparent;
  cursor: pointer;
}

.pw-see-btn,
.pw-see2-btn{
  width: var(--spacing-xl);
}



.btn-register {
  box-sizing: border-box;
  margin-top: var(--spacing-2xl);
  width: 100%;
  text-align: center;
  border-radius: var(--spacing-2xs);
  color: var(--black);
  background-color: var(--silver100);
  font-size: clamp(var(--text-sm), 2vw, var(--text-lg));
  font-weight: var(--weight-lg);
  padding: var(--spacing-md) var(--spacing-base);
}
.btn-register:disabled {
  background-color: var(--silver700);
  color: var(--silver400);
}
.btn-register:hover {
  background-color: var(--white);
  color: var(--black);
}

#register-id,
#register-pw,
#register-pw-check,
#register-email {
  box-sizing: border-box;
  margin-bottom: 2px;
  padding: var(--spacing-md) var(--spacing-base);
  font-size: clamp(var(--text-sm), 2vw, var(--text-lg));
}

#register-id:placeholder,
#register-pw:placeholder,
#register-pw-check:placeholder,
#register-email:placeholder {
  color: var(--silver600);
}

/* 모두 동의합니다 */
.register-content-wrapper {
  margin-top: var(--spacing-xl);
}

.register-all-check{
  color: var(--silver300);
  font-size: clamp(var(--text-sm), 2vw ,var(--text-md));
  padding: 0.5vh 0;
  padding-left: var(--spacing-2xl);
  background: url(../assets/icons/login_check_26_26.png) no-repeat 0 0;
  background-position: 0 50%;
}

.all-check-btn img {
  width: var(--spacing-md);
  transform: translateY(3px);
  margin-right: var(--spacing-s);
}

.all-check-btn,
.register-content-item label {
  font-size: clamp(var(--text-sm), 2vw, var(--text-md));
}

/* 동의하기 아이템들 */
.register-content-wrap {
  margin-top: 10px;
  display: flex;
  flex-flow: column nowrap;
}

.register-content-item {
  background: transparent;
  font-size: clamp(var(--spacing-s), 4vw, var(--spacing-md));
  justify-items: center;
  margin-top: var(--spacing-s);
}

.register-content-item img {
  background: transparent;
  padding-right: var(--spacing-2xs);
  justify-content: center;
}

.register-content-item > input {
  display: none;
}

.register-content-item > input + label::before{
  cursor: pointer;
}

#register-all:checked +label{
  color: var(--white);
  background: url(../assets/icons/login_checked_26_26.png) no-repeat 0 0;
  background-position: 0 50%;
}
.register-content-item > input:checked + label{ 
  background: url(../assets/icons/login_binchecked_26_26.png) no-repeat 0 0;
  color: var(--white);
}

.register-content-item > label {
  cursor: pointer;
  background: url(../assets/icons/login_bincheck_26_26.png) no-repeat 0 0;
  padding: var(--spacing-3xs) var(--spacing-xs) var(--spacing-2xs);
  padding-left: var(--spacing-2xl);
  color: var(--silver500);
  align-items: center;
}

.register-content-item > input:focus,
.register-content-wrapper >input:focus{
  outline: none;
  outline-offset: 0;
  box-shadow: 0 0 0 0 0;
}

.register-content-item > label > img {
  transform: translateY(8px);
}

.item-space {
  padding-left: var(--spacing-2xl);
}

/* 모바일 */

@media (min-width: 320px) and (max-width: 767px) {
  .nav-logo > a > img {
    height: var(--spacing-base);
  }

  .register-container {
    max-width: 550px;
    padding: 0 var(--spacing-base);
    margin-top: var(--spacing-lg);
  }

  .sub-title {
    margin-bottom: var(--spacing-lg);
  }

  .id-cancel-btn,
  .email-cancel-btn,
  .pw-cancel-btn,
  .pwcheck-cancel-btn {
    width: var(--spacing-lg);
  }

  .pw-cancel-btn,
  .pwcheck-cancel-btn {
    right: min(16vw, var(--spacing-5xl));
  }

  .register-content-item {
    margin-top: var(--spacing-xs);
  }

  .register-content-item label{
    padding-left: min(8vw, var(--spacing-xl));
    background-size: var(--spacing-base);
    margin-top: var(--spacing-xs);
  }
  .register-content-item img {
    min-width: 16px;
  }

  .all-check-btn img {
    margin-right: var(--spacing-2xs);
  }

  .register-content-wrapper {
    margin-top: var(--spacing-base);
  }

  .item-space {
    padding-left: var(--spacing-base);
  }

  .register-input-wrap {
    margin-top: var(--spacing-base);
  }

  #register-id,
  #register-pw,
  #register-pw-check,
  #register-email {
    padding-top: var(--spacing-base);
    padding-bottom: var(--spacing-base);
  }

  .pw-see-btn,
  .pw-see2-btn {
    width: var(--spacing-lg);
  }

  .register-all-check,
  .register-content-item > input:checked + label,
  #register-all:checked +label{
    background-size: var(--spacing-base);
    padding-left: min(8vw, var(--spacing-xl));
  }

}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 1279px) {
  .nav-logo > a > img {
    height: var(--spacing-lg);
  }
  .nav-logo > a {
    margin-left: var(--spacing-3xl);
  }

  .register-container {
    max-width: 600px;
  }

  .register-content-item {
    margin-top: var(--spacing-xs);
  }

  .register-content-item label {
    padding-left: var(--spacing-xl);
    background-size: var(--spacing-lg);
    height: 1.125rem;
  }

  .pw-see-btn,
  .pw-see2-btn {
    width: var(--spacing-lg);
  }
  .register-all-check,
  .register-content-item > input:checked + label,
  #register-all:checked +label{
    background-size: var(--spacing-lg);
  }


}

/* 데스크탑 */
@media (min-width: 1280px) {
  .register-container {
    max-width: 768px;
  }
  .nav-logo > a {
    margin-left: var(--spacing-7xl);
    margin-top: var(--spacing-lg);
  }

  .pw-see-btn,
  .pw-see2-btn{
    width: var(--spacing-xl);
  }
  .pw-see-btn >img,
  .pw-see2-btn >img{
    width: 100%;
  }
  
}
