button {
  all: unset;
}

.header {
  /* width: 100px;
  height: 100px; */
  /* background-color: lightblue; */
  height: 100px;
  position: relative;
}

.search-container {
  /* background-color: lightgreen; */
  /* margin: auto; */
  position: absolute;
  width: 100%;
  /* height: 0.02vw; */
  top: 100%;
}

.search-wrapper {
  /* background-color: navy; */
  /* margin: auto;
  width: 77.083%; */
  padding: 0 11.4583% 4.84375% 11.4583%;
  height: auto;
}

/* 검색창 */
.search-form {
  /* background-color: lightslategray; */
  margin: var(--spacing-xl) 0;
  /* margin-bottom: var(--spacing-xl); */
  position: relative;
}

.search-form-wrapper {
  display: flex;
  flex-flow: row nowrap;
  /* background-color: aqua; */
  height: 5.5625rem;
  /* height: 100%; */
}

.search-form-box {
  /* background-color: brown; */
  flex-grow: 1;
  border-bottom: 3px solid var(--white);
}

.search-form-input {
  all: unset;
  font-weight: var(--weight-md);
  font-size: min(var(--text-xl), 3vw);
  width: 100%;
  height: 100%;
  padding: 10px;
  color: var(--silver700);
  caret-color: var(--white);
}

.search-button {
  all: unset;
  cursor: pointer;
  width: 3.125rem;
  position: absolute;
  right: 0;
  top: 1.25rem;
}

/* 컨텐츠 박스 */
.search-content-box {
  /* background-color: sandybrown; */
  /* position: relative; */
  display: flex;
  flex-flow: row nowrap;
}

.search-current {
  /* background-color: lightseagreen; */
  width: 50%;
}

.search-current h2 {
  /* background-color: darkgreen; */
  color: var(--silver200);
  cursor: default;
  display: inline-block;
  font-size: var(--text-lg);
  font-weight: var(--weight-md);
  padding-bottom: var(--spacing-md);
  padding-right: var(--spacing-24);
}

.list-item {
  /* background-color: lightcoral; */
  margin-bottom: var(--spacing-base);
}

.list-item a {
  color: var(--silver300);
  font-size: var(--text-md);
  margin-right: var(--spacing-md);
}

.list-item a:hover {
  color: var(--silver100);
}

.delete-btn {
  cursor: pointer;
  /* background-color: black; */
  width: 0.9375rem;
  height: 100%;
}

.delete-all-btn {
  cursor: pointer;
  font-size: var(--text-md);
  color: var(--silver600);
}

.list-item img {
  display: block;
}

.search-favorate {
  border-left: 1px solid var(--silver800);
  /* background-color: lightpink; */
  padding-left: var(--spacing-60);
  width: 50%;
}

.search-favorate h2 {
  /* background-color: deeppink; */
  cursor: default;
  color: var(--silver200);
  font-size: var(--text-lg);
  font-weight: var(--weight-md);
  padding-bottom: var(--spacing-lg);
}

.favorate-list {
  /* 스크린 리더가 번호 읽어주도록 */
  overflow: hidden;
}

.favorate-list li {
  /* background-color: coral; */
  color: var(--silver300);
  font-size: var(--text-md);
  font-weight: var(--weight-sm);
  padding-bottom: var(--spacing-base);
  counter-increment: number;
}

.favorate-list li:hover {
  color: var(--silver100);
}

.favorate-list li::before {
  color: var(--red-1);
  font-weight: var(--silver700);
  content: counter(number);
  display: inline-block;
  width: 2.75rem;
  /* background-color: aqua; */
}

.search-favorate > time {
  cursor: default;
  color: var(--silver500);
  display: inline-block;
  padding: 0.3rem 0;
}
