/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #000;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  white-space: nowrap;
} */

/* 맨위 공간 */
.header{
background-color: brown;
}

/* 로고 아이콘 이미지 */
.logo{

}

/* 헤더 밑부터 푸터 위까지 */
.main{

}

/* 프로필선택~프로필편집 가로 전체 영역 */
.profile{

}

/* 프로필선택~프로필편집 전체 박스 영역 */
.profile-container{
  background-color: aqua;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;

}
/* 프로필선택+선택해주세요 합친 영역 */
.profile-title-wrapper{
background-color: pink;
}

/* 프로필 선택 */
.profile-title{
background-color: salmon;
text-align: center;
color: var(--white);
font-size: var(--text-xxl);
font-weight: var(--weight-lg);
}

/* 선택해주세요 */
.profile-subtitle{
  background-color: darkmagenta;
  text-align: center;
  color: var(--silver200);
  font-size: var(--text-lg);
  font-weight: var(--weight-md);
}

/* 4개 이미지+텍스트 다 합친 잔체 영역 div */
.profile-photo-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


/* li 4개 (이미지+텍스트) 합친거 ul */
.profile-photo-box{
  display: flex;
  justify-content: space-between;
}


/* 이미지+텍스트 개별 li
.item{

} */



/* 4개 이미지(버튼)
.user{

} */


/* 프로필 편집 가로 전체 영역 */
.profile-edit{
background-color: blue;
}


/* 프로필 편집 버튼 */
.profile-edit-btn{
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: var(--weight-md);
  font-size: var(--text-lg);
  color: var(--silver300);
  border: 1px solid #565656;
  border-radius: 4px; 
  padding: 1rem 3.125rem;
  background-color: transparent;

  
}

/* p태그 */
.user-name{
  text-align: center;
  font-size: var(--text-lg);
  font-weight: var(--weight-sm);
  color: var(--silver300);
}


.footer {
  position: relative;
  padding: 7rem 4rem 10rem 4rem;
  border: 1px solid red;
  position: relative;
  font-size: 1.25rem;
  color: rgb(110, 110, 110);
}
.footer > div {
  display: flex;
  padding: 0 2rem;
}
.footer_top {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.083rem solid rgb(33, 33, 33);
  padding: 1rem 0;
}
.footer_nav {
  padding: 1.5rem 0;
}

.footer_nav > a {
  margin-right: 1.5rem;
}

.customer_service {
  cursor: pointer;
  color: gray;
  text-decoration: underline;
}
.customer_service:hover {
  color: lightgray;
  transition: color 0.1s ease 0s;
}
.sns_link_logo {
  display: flex;
  padding: 2rem 0;
  font-size: 1.25rem;
  cursor: pointer;
}
.copyright_box {
}
.copyright_box > p {
  margin-bottom: 0.5rem;
}
.copyright_box > p > span::before {
  font: 1rem;
  content: "|";
  padding: 0 0.75rem;
}
.copyright_box > p > span:first-child::before {
  content: "";
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0px;
}
.copyright {
  margin-top: 1.5rem;
}
