.title-simple {
  font-size: clamp(var(--text-sm), 1vw ,var(--text-md));
  color: var(--silver200);
  line-height: var(--line-height-md);
  font-weight: var(--weight-md);
}

.title-basic {
  font-size: clamp(var(--text-sm), 1vw ,var(--text-md));
  color: var(--silver200);
  line-height: var(--line-height-md);
  font-weight: var(--weight-md);
}

.title-basic .sub{
  font-size: clamp(var(--text-sm), 0.85vw ,var(--text-base));
  color: var(--silver300);
  line-height: var(--line-height-lg);
  font-weight: var(--weight-sm);
}

.label-title-basic{

}

.label-title-simple{

}